{
  "server": {
    "address": "127.0.0.1:8080"
  },
  "telegramBot": {
    "token": "123456789:AABBCCDDEEFFGGHHJJKKLLMMNNOOPPQQRRS",
    "users": [000000000]
  },
  "network": {
    "max": 100,
    "maxLimit": 75
  },
  "memory": {
    "max": 100,
    "maxLimit": 75
  },
  "swap": {
    "max": 100,
    "maxLimit": 75
  },
  "cpu": {
    "max": 100,
    "maxLimit": 75
  },
  "disk": {
    "max": 100,
    "maxLimit": 75
  }
}